.main {  
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  /* background-color: #04492b; */
  background-color: #4c5953;  
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}